.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.field {
    width: 200px;
}

.field-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.highlighted {
    background-color: rgba(0, 128, 0, 0.344);
    color: white;
}

.button__remove {
    margin: 0 0 0 7px;
}

.d-flex {
    display: flex !important;
}

.mt-1 {
    margin-top: 1rem !important;
}